$timory-color: #594A31;
$farmily-color: #FF7E79;
$timory-dark-color:#3d382f;

@media(min-width: 769px) {
    .timory_top {
        h3 {
            font-family: 'Toppan Bunkyu Gothic';
            font-weight: normal;
            font-size: 1.8rem;
        }

        h3.noimg {
            font-family: 'Toppan Bunkyu Gothic';
            font-weight: normal;
            font-size: 1.6rem;

        }

        .noimg {
            br:last-child {
                display: none;
            }
        }

        .wp-block-spacer {
            height: 100px;

        }

        .noimg_spacer {
            height: 80px;
        }

        p {
            font-size: .7rem;
            margin-top: 37px;

        }

    }
}

@media (max-width:768px) {

    .timory_top {

        h3 {

            font-size: 2rem;
        }

        h3.noimg {
            font-size: 1.8rem;

        }

        .noimg_spacer {
            height: 30px;
        }

        p {
            font-size: .9rem;
            margin-top: 9px;

        }

        .wp-block-spacer {
            height: 40px;

        }



    }
}


.timory_top {




    /*main-grid*/
    .main-grid {

        right: 0;
        text-align: center;

    }

    /*header*/
    header {
        background-color: $farmily-color;
        color: $timory-color;
        width: 100%;
    }

    .logo-w {
        height: 3%;
        width: auto;
        top: 6px;
        left: 10px;
    }

    .logo-h {
        height: 2%;
        width: auto;
        top: 2.5px;
        right: 10px;
    }

    article {
        grid-area: main;
        /*main*/
        background-color: #ffff;
        color: $timory-color;
        margin-left: auto;
        margin-right: auto;
        width: 100%
    }

    /*footer*/
    footer {
        height: 62.5px;
        grid-area: footer;
        background-color: $timory-color;
        color: white;
    }






    .background {
        margin: 50rem;
        font-size: 20px;
    }

    .inner {
        text-align: left;
        width: 100%;
    }

    .background.center {
        text-align: center;
    }


    figure {
        width: 100%;
        position: relative;
    }

    .figure-img {
        width: 100%;
        vertical-align: top;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
    }

    .figure-img.noimg {
        box-shadow: none;
    }

    figure figcaption {
        font-size: 50px;
        color: #ffffff;
        position: absolute;
        top: 0;
        display: flex;
        width: 100%;
        height: 100%;
        margin: 0;
        align-items: center;
        justify-content: center;
    }

    .decorator {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .font-size {
        font-size: 20px;
        line-height: 1.5;
        margin-bottom: 10em;
        width: 45%;
        text-align: center;
    }


    .img-size {
        width: 50%;
    }

    .wp-block-spacer {
        background-color: white;
    }



}
