$timory-color: #594A31;
$farmily-color: #FF7E79;
$timory-dark-color:#3d382f;
$timory-shadow-color:#594a316e;

* {
    box-sizing: border-box;
}

#user_detail_show {
    position: relative;
    box-sizing: border-box;
    width: 72%;
    right: 0;
    color: $timory-color;

    .user_tag {
        display: flex;
        align-items: center;
        background: white;
    }

    .random_header {
        text-decoration: underline;
    }

    .detail_session_header {

        position: fixed;
        top: -10px;
        width: 72%;
        background-color: white;
        z-index: 90000;
        display: flex;
        justify-content: space-between;
        height: 90px;
        border-bottom: $timory-shadow-color 1px solid;
        box-shadow: 5px -3px 12px;
    }



    .tab_flex {
        z-index: 10;
        position: fixed;
        top: 80px;
        right: 0;
        margin-bottom: 20px;
        height: 66px;
        width: 51%;
        position: fixed;
        z-index: 10;
        background: white;
        padding: 0;
        border-bottom: $timory-shadow-color 1px solid;
        color: $timory-shadow-color;
        box-shadow: 3px 2px 6px 0px;




    }




    a {
        text-decoration: none;
        color: $timory-color;
    }

    @media (max-width:450px) {
        font-size: 10px;

        .search_result {
            display: none;
        }

        .time {
            width: 25px;
        }

        .icon_image {
            margin: 5px;
            width: 30px;
            height: 30px;
            margin-right: 0px;
        }

        a {
            font-size: 10px;
        }

        div.post {
            margin-left: 0px;
        }
    }

    @media (min-width:449px) {
        .time {
            width: 55px;
        }

        .icon_image {
            margin: 8px;
            width: 50px;
            height: 50px;
            margin-right: 20px;
        }

        font-size: 16px;

        a {
            font-size: 20px;
        }

        div.post {
            margin-left: 50px;
        }
    }

    .good {
        margin-left: 50px;
        display: flex;
        justify-content: space-around;
    }

    .like {
        width: 22px;
        height: 22px;
        margin-right: 5px;
    }

    .tab_bar {
        position: fixed;
        top: 71px;
        width: 100%;
        z-index: 100;
        color: $timory-shadow-color;

        hr {

            box-shadow: 5px 5px 10px;
            margin-bottom: 0;
        }
    }


    .tab {
        z-index: 10;
        position: fixed;
        top: 50px;
        margin-bottom: 20px;
        height: 80px;
        width: 21%;
        display: flex;
        align-items: flex-end;

        .div {
            display: inline-block;

            .tab_icon {
                margin: auto;
                width: 40px;
                height: 40px;
                display: inline-block;
                text-align: center;
            }

            box-shadow: 1px 1px 20px 2px;

            background-color: $timory-color;
            border-radius: 12px 12px 0 0;
            border: 1px solid $timory-shadow-color;
            display: flex;
            width: 50%;
            height: 50px;
            color: $timory-shadow-color;
        }

        .div_white {
            background-color: white;
        }
    }

    .everyone {
        position: relative;
        display: flex;
        width: 100%;
        margin-top: 60px;

        .search {
            box-sizing: border-box;
            padding: 0px 5px;
            width: 31%;
            border-left: 2px solid $timory-color;

            .search_window_top {
                position: fixed;
                top: 75px;
                width: 20%;
                height: 78px;
                background-color: white;

            }

            .search-form {
                box-sizing: border-box;
                width: 100%;

                form {
                    display: flex;
                }

                input {
                    width: 65%;
                    border: 0px;
                    height: 28px;
                    background-color: $timory-color;
                    color: white;
                }

                input:focus {
                    outline: none;
                }

                .btn {
                    width: 30px;
                    background-color: $timory-color;
                    color: $timory-color;
                }
            }

            .search_window {
                position: fixed;
                top: 150px;
                width: 19%;
                height: 30px;
                background-color: $timory-color;

            }

            .search_result {
                margin-top: 125px;

                .result {
                    display: flex;
                    align-items: center;
                }

                .result_user {
                    flex-shrink: 0;
                    width: 40px;
                    height: 40px;
                    border-radius: 100px;
                    object-fit: cover;
                    margin-right: 5px;
                }
            }
        }

        .twiit {
            position: relative;
            width: 67%;
            margin: 112px 0 -2px;
            color: $timory-color;

            .twitter {
                box-sizing: border-box;
                position: relative;
                padding: 0px 5px;


                .edit_icon {
                    width: 40px;
                    height: 40px;
                    margin: 0;
                }

                .edit {
                    margin: 0;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    width: 105px;
                    height: 45px;
                    position: absolute;
                    top: 0px;
                    right: 0px;
                }

                .comment_right {
                    padding-left: 10px;
                    border-left: 2px solid $timory-color;

                }

                .comment_bottom {
                    margin: 0px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;



                    p {

                        margin: 0;

                        padding: 10px;

                    }
                }

                .user {
                    margin-top: 5px;
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    align-items: center;
                }



                .user_detail {

                    width: 100%;

                    .date_good {
                        width: 22px;
                        display: flex;
                        align-items: center;
                        width: 150px;
                        margin-left: 10px;

                    }



                    a {
                        color: $timory-color;
                        text-decoration: none;

                    }

                    .icon_image {

                        border-radius: 100px;
                        object-fit: cover;

                    }


                }



                .comment_bottom {
                    padding-left: 20px;
                }

            }



        }


        .diary {
            display: flex;
            align-items: center;
            font-size: 25px;
        }

    }

    .tab_side {
        box-sizing: border-box;
        width: 65%;
        height: 1000px;
        position: fixed;
        bottom: 0;
        border-left: 2px solid $timory-shadow-color;
        pointer-events: none;

    }

    .search_side {

        height: 1000px;
        pointer-events: none;
        position: fixed;
        bottom: 0;
        width: 21%;
        border-right: 1px solid $timory-shadow-color;
        box-shadow: -13px 5px 28px 0px;

    }



    div#videos {
        display: block;
        width: 100%;
        margin: 5px;
        margin-left: 0;
        max-width: 250px;


        div {
            position: relative;

        }

        .wrapper {
            position: relative;
        }

        .wrapper::before {
            content: "";
            padding-bottom: 65%;
            display: block;
        }



        .wrapper>img {
            min-width: 50px;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px;
        }


    }

}
