.twitter-container {
  display: flex;
  justify-content: space-between;
}
.farmily {
  /* Form Layout */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    nav.farmily {
      a {
        display: inline-block;
        margin-top: 15px;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
  .my-container {
    width: 100%;
    background: rgb(239, 230, 230);
  }
  header,
  main {
    display: block;
  }
  header {
    position: fixed;
    z-index: 15;
    width: 28%;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #594A31;
  }
  header.hid {
    z-index: 10;
    height: 0px;
  }

  .user_name {
    position: absolute;
    top: 22px;
    left: 90px;
    color: white;
  }

  header .user_icon {
    position: absolute;
    left: 5%;
    bottom: 10px;
    width: 50px;
    height: 50px;
    //サイズ指定
    border-radius: 100px;
    //画像を丸くする
    object-fit: cover;
    z-index: 100;
  }

  header .white_logo {
    position: absolute;
    margin-left: 17%;
    top: 2%;
    width: 168px;
    height: 67px;
  }

  .notice_alert {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 11;
    margin-top: -4px;
    right: 0;
    padding-left: 20%;
    background-color: #594A31;
    color: white;
  }

  .hamburger-menu {
    margin-top: 35%;
    margin-left: 17%;
  }
}
