.farmily{
    /* Form Layout */

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  
      nav.farmily{
          a{
              display: inline-block;
              margin-top: 15px;
              color: #ffffff;
              text-decoration: none;
          }
      }
  }
          .my-container {
              max-width: 1000px;
              margin-right: auto;
              margin-left: auto;
              background: rgb(239, 230, 230);
          }
  
        
          header, main {
              display: block;
          }
  
          header {
              position: sticky;
              z-index: 11;
              display: flex;
              max-width: 1000px;
              margin-right: auto;
              margin-left: auto;
              top: 0;
              height: 48px;
              background-color: #fd9c9c;
          }
          header.hid{
              z-index: 10;
              height: 0px;
          }
  
          header .icon, header .service {
              position: relative;
              top: -1px;
              padding: 10px 18px;
              text-align: center;
              font-size: 1.8rem;
              margin-right: 25px;
          }
  
          header .icon .smile {
              width: 98px;
              height: 33px;;
          }
  
          header .service .logo {
              width: 33px;
              height: 33px;
          }
  
          header .service .logo {
              position: absolute;
              margin-left: 240px;
              width: 40px;
              height: 40px;
          }
  
          header .notification {
              position: absolute;
              margin-left: 2400%;
              margin-top: -5px;
              width: 40px;
              height: 40px;
          }
  
          header .smile {
              position: absolute;
              margin-left: 0px;
          }

          header{
              display: flex;
              justify-content: space-between;   
          }
          .notice_alert{
              z-index: 15;
              margin-top: -4px;
              padding-left: 15px;
            background-color: #fd9c9c;
            color: white;
          }
          

        }

.farmily #header{

    .menu-btn {
        margin-right: 20px;
        top: 0px;
        right: 20px;
        display: flex;
        height: 44px;
        width: 60px;
        justify-content: center;
        align-items: center;
        z-index: 20;
        background-color: #fd9c9c;
    }
  
    .menu-btn span:before{
        z-index: 90;
        content: '';
        top: 0;
        display: inline-block;
        height: 45px;
        width: 45px;
        background-image: url(/assets/clova_logo.png);
        background-size: contain;
        vertical-align: middle;
        position: absolute;
    }
    
    #menu-btn-check:checked ~ .menu-btn span {
        background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
    }
    #menu-btn-check:checked ~ .menu-btn span::before {
        top: 0;
        transform: rotate(45deg);
    }
    #menu-btn-check:checked ~ .menu-btn span::after {
        top: 0;
        transform: rotate(-45deg);
    }

    #menu-btn-check {
        display: none;
    }

    .menu-content ul {
        padding: 70px 10px 0;
    }
    .menu-content ul li {
        border-bottom: solid 1px #ffffff;
        list-style: none;
    }
    .menu-content ul li a {
        display: block;
        width: 100%;
        font-size: 15px;
        box-sizing: border-box;
        color:#ffffff;
        text-decoration: none;
        padding: 9px 15px 10px 0;
        position: relative;
    }
    .menu-content ul li a::before {
        content: "";
        width: 7px;
        height: 7px;
        border-top: solid 2px #ffffff;
        border-right: solid 2px #ffffff;
        transform: rotate(45deg);
        position: absolute;
        right: 11px;
        top: 16px;
    }
    .menu-content {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%;/*leftの値を変更してメニューを画面外へ*/
        z-index: 80;
        background-color: #fd9c9c;
        transition: all 0.5s;/*アニメーション設定*/
    }

    #menu-btn-check:checked ~ .menu-content {
        left: 0;/*メニューを画面内へ*/
    }

}