#twitter_top{
max-width: 1000px;
margin: auto;

box-sizing: border-box;

  .my-container{
      display: flex;
      
  }

  .left_flex img{
      display: block;
      width: 450px;
      margin-right:25px ;
      
  }
  .right_flex {
      width: 550px;
      h1{
          color: rgb(83, 83, 85);
          margin-top:80px ;
          font-size: 58px;
          margin-bottom: -10px;
      }
      h2{
        color: rgb(83, 83, 85);
        font-size: 35px;
    }

    .button{
        width: 334px;
        height:44px;
        background-color: rgb(248, 153, 156);
        border-radius: 30px;
        margin: 16px;
        margin-left: 10px;

        a{
            display: block;
            width: 260px;
            height: 35px;
            text-decoration: none;
            color: white;
            text-align: center;
            font-size: 14px;
            padding-top: 12px;
            margin: auto;
            font-weight: 600;
        }
    }
  .login{
      border: 1.5px solid rgb(248, 153, 156);
      background-color: white;
      a{
          color: rgb(248, 153, 156);
      }
  }
   
}







}