<!DOCTYPE html>
<html lang="ja">
<head>

    <style>



:root {
    /* 全て尾を選択 */
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

nav a{
    font-sixe:20px;
}
*, :after, :before{
    box-sizing: border-box;
}
html{
    font-family: sans-serif;
    line-height: 1.15;
}
footer,header,main{
    display:block;
}
body {
    margin: 0;
    font-family: Hiragino Sans, Circular, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-weight: 400;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background: #d2acac
}
p{
    margin-top: 0;
    margin-bottom: 1rem;
}
ul{
    margin-top: 0;
}
a{
    text-decoration: none;
}
html{
    font-size: 80%;
}

.my-container{
   
    
    margin-right: auto;
    margin-left: auto;
    background: rgb(255, 255, 255);
}
@media(min-width: 620px) { 
.my-container{

    max-width:620px;
}
}

header{
    height: 55px;
    display: flex;
    z-index: 10;
}
header .icon{
    position: relative;
    top: -1px;
    padding: 16px 18px;
    text-align: center;
    width: 30px;
    font-size: 1.8rem;
}
header .icon .smile, header .icon .notification{
    width: 24px;
    height: 24px;
}
header .service img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
header .notification{
    position: absolute;
    margin-left: -24px;
}
header .smile{
    position: absolute;
    margin-left: 0px;
}
#lesson_video_index ul.tags{
    display: flex;
    list-style-type:none;
    padding: 0;
    margin-bottom: 20px;
}
#lesson_video_index ul.tags li{
    width: 50%;
    text-align: center;
    margin:12px 0;
}
#lesson_video_index ul.tags li a{
    color: #999;
    text-decoration: none;
    margin:12px 0;
    font-size: 13px;
    
}
#lesson_video_index ul.instruments{
    overflow-y: scroll;
    display: flex;
    list-style-type: none;
    padding: 0;
}
#lesson_video_index ul.instruments::-webkit-scrollbar {
    display:none;
}
#lesson_video_index ul.instruments>li{
    margin-left: 8px;
    text-align: center;
    position: relative;
}
#lesson_video_index ul.instruments>li a{
  color: #999;
  white-space: nowrap;
}
#lesson_video_index ul.instruments>li a p{
    margin: 0;
    padding: 6px 10px;
}

#lesson_video_index ul.instruments>li a.active{
   color: rgb(255, 255, 255);
}

#lesson_video_index ul.instruments>li a.active p{
 font-size: 12px;
 border-radius: 20px;
 background-color: #333;
}
#lesson_video_index ul.tags{
    position: sticky;
    top: 0;
    z-index: 10;
    list-style-type: none;
    padding: 0;
    border-bottom: .5px solid #e5e5e5;
    margin-bottom: 20px;
    background-color: #fff;
}
#lesson_video_index ul.tags li{
    width: 50%;
    text-align: center;
    margin:12px 0;
}
#lesson_video_index ul.tags li a{
    text-decoration: none;
}
 #lesson_video_index ul.tags li a.active{

color: #030303;
border-bottom: 2px solid #030303;
padding-bottom: 12px;
font-weight: 600;
}

 /* <ul id="videos">
    <li class="half">
        <div class="wrapper"><img src="/assets/cat1.png" alt="">
        </div>
        <p>マロンとホクロです</p>
    </li> */

ul#videos{
    display: flex;
    flex-wrap: wrap;
    padding: 0 5px 65px;
}

ul#videos li{
    position:relative;
    padding: 5px;
    width: 50%;
    list-style-type: none;
}

ul#videos li .wrapper{
    position: relative;

}
ul#videos li .wrapper::before{
    content: "";
    padding-bottom: 100%;
    display:block;
}
ul#videos li .wrapper::after{
    position: absolute;
    top: 12px;
    right: 1px;
    width: 10%;
    height: auto;
    content: url(/assets/heart_white.svg);
}
ul#videos li .wrapper>img{
    min-width:180px;
    position:absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}
ul#videos li p{
    font-weight: 600;
    margin-top: 8px;
    word-wrap: break-word;
}

footer{
    position: sticky;
    bottom: 0;
    z-index: 1;
    height: 65px;
    max-width: 620px;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
}
footer ul{
   display: flex;
   list-style-type: none;
   padding: 0;
   margin-bottom: 0;
}
footer ul li{
    
    text-align: center;
    width: 33.33333333%;
    padding-top: 13px;
}
footer ul li img{
    height: 24px;
    padding: 2.25px;
}
footer ul li img.plus-icon{
    width: 38px;
    height: 38px;
}
footer a{
    color: #202020;
    font-size: 0.3rem;
}
footer a p{
 
  font-size: 0.8rem;
line-height: 0.4rem;
    
}
    
    
    
    </style>

</head>
<body>
    <div class="my-container">
        <main id="app">
            <header class="container">
                <div class="icon"><img src="/assets/smile.png" class="smile" alt=""></div>
                <div class="service"><img src="/assets/logo.png" class="logo" alt=""></div>
                <a class="icon"><img src="/assets/bel.png" class="notification" alt=""></a>
            </header>
            <div id="lesson_video_index">
                <ul class="tags">
                    <li><a class="active">練習してみた</a></li>
                    <li><a>レッスン動画</a></li>
                </ul>
                <ul class="instruments">
                    <li><a class="active">
                            <p>全パート</p>
                        </a></li>
                    <li><a>
                            <p>ボーカル</p>
                        </a></li>
                    <li><a>
                            <p>ギター</p>
                        </a></li>
                    <li><a>
                            <p>ピアノ</p>
                        </a></li>
                    <li><a>
                            <p>ベース</p>
                        </a></li>
                    <li><a>
                            <p>ドラム</p>
                        </a></li>
                    <li><a>
                            <p>ウクレレ</p>
                        </a></li>
                    <li><a>
                            <p>その他</p>
                        </a></li>
                </ul>
                <div class="video-wrapper">
                    <ul id="videos">
                        <li class="half">
                            <div class="wrapper"><img src="/assets/cat1.png" alt="">
                            </div>
                            <p>マロンとホクロです</p>
                        </li>
                        <li class="half">
                            <div class="wrapper"><img src="/assets/cat2.png" alt="">
                            </div>
                            <p>マロンとホクロです</p>
                        </li>
                        <li class="half">
                            <div class="wrapper"><img src="/assets/cat3.png" alt="">
                            </div>
                            <p>マロンとホクロです</p>
                        </li>
                        <li class="half">
                            <div class="wrapper"><img src="/assets/cat4.png" alt="">
                            </div>
                            <p>マロンとホクロです</p>
                        </li>
                        <li class="half">
                            <div class="wrapper"><img src="/assets/cat5.png" alt="">
                            </div>
                            <p>マロンとホクロです</p>
                        </li>
                        <li class="half">
                            <div class="wrapper"><img src="/assets/cat6.png" alt="">
                            </div>
                            <p>マロンとホクロです</p>
                        </li>
                        <li class="half">
                            <div class="wrapper"><img src="/assets/cat7.png" alt="">
                            </div>
                            <p>マロンとホクロです</p>
                        </li>
                                                <li class="half">
                            <div class="wrapper"><img src="/assets/cat8.png" alt="">
                            </div>
                            <p>マロンとホクロです</p>
                        </li>
                        <li class="half">
                            <div class="wrapper"><img src="/assets/cat9.png" alt="">
                            </div>
                            <p>マロンとホクロです</p>
                        </li>
                        <li class="half">
                            <div class="wrapper"><img src="/assets/1.png" alt="">
                            </div>
                            <p>マロンとホクロです</p>
                        </li>
                        <li class="half">
                            <div class="wrapper"><img src="/assets/2.png" alt="">
                            </div>
                            <p>マロンとホクロです</p>
                        </li>
                            <li class="half">
                            <div class="wrapper"><img src="/assets/3.png" alt="">
                            </div>
                            <p>マロンとホクロです</p>
                        </li>
                        <li class="half">
                            <div class="wrapper"><img src="/assets/4.png" alt="">
                            </div>
                            <p>マロンとホクロです</p>
                        </li>
                    </ul>
                </div>
            </div>
        </main>
        <footer id="footer">
            <ul>
                <li><a><img src="/assets/home.svg">
                        <p>ホーム</p>
                    </a></li>
                <li class="plus-circle"><a class="icon"><img src="/assets/plus.png" class="plus-icon" alt=""></a>
                </li>
                <li><a class="icon"><img src="/assets/heart.png" alt="">
                        <p>お気に入り</p>
                    </a></li>
            </ul>
        </footer>
    </div>
</body>

</html>