<div class="timory_top">
    <div class="loadscreen">
        <p class="animation_img"><img src="assets/clova_logo.png"></p>
    </div>
    <div class="main-grid">
        <article>

            <figure>
                <img class="figure-img" src="assets/farmily_top.png" alt="top headder">
                <figcaption class="decorator" style="text-align: center;">
                    <h3>Timory<br />ー定時交換日記システムー </h3>
                </figcaption>
            </figure>
            <div class="noimg_spacer"></div>
            <figure>
                <img class="figure-img noimg" src="assets/farmily_logo.png" alt="top headder">
                <figcaption class="decorator" style="text-align: center;background-color:white; color:#594A31">
                    <h3 class="noimg">TimoryのWebページへ<br />ようこそ！！ <br />
                        <p>このページでは、Timoryやあいけんの<br>活動について紹介します。</p>
                    </h3>

                </figcaption>
            </figure>

            <div class="noimg_spacer"></div>

            <%= link_to (pages_howtofarmily_path) do %>
            <figure>
                <img class="figure-img" src="assets/Timo.png" alt="Timory headder">
                <figcaption style="text-align: center;" class="decorator">
                    <h3>Timoryとは...</h3>
                </figcaption>
            </figure>
            <% end %>

            <div aria-hidden="true" class="wp-block-spacer"></div>

            <a href="https://iken-pro.github.io/iken_webpage/">
                <figure>

                    <img class="figure-img" src="assets/hero-image-2.jpg" alt="iken headder">
                    <figcaption style="text-align: center;" class="decorator">
                        <h3>あいけんについての紹介 </h3>
                    </figcaption>

                </figure>
            </a>

            <div aria-hidden="true" class="wp-block-spacer"></div>

            <a href="https://twitter.com/ishikawa_iken">
                <figure>

                    <img class="figure-img" src="assets/DCON2021_finish_iken.JPG" alt="news headder">
                    <figcaption style="text-align: center;" class="decorator">
                        <h3>最近のNews！！ </h3>
                    </figcaption>


                </figure>
            </a>
        </article>

        <footer>
            <div class="footer-c">
                <div style="height:15px; left:10px;" aria-hidden="true" class="wp-block-spacer"></div>
                <span class="mgr-10">Copyright ©︎ iken, Ltd</span>
            </div>
        </footer>
        <!--
            <header>
                <header class="logo-w">
                    <img src="assets/farmily_logo.png" alt="logo_white">
                </header>

                <div class="hamburger-menu">
                    <input type="checkbox" id="menu-btn-check">
                    <label for="menu-btn-check" class="menu-btn"><span></span></label>

                    <div class="menu-content">
                        <ul></ul>
                        <ul>
                            <li>
                                <a href="＃">Timoryとは</a>
                            </li>
                            <li>
                                <a href="https://iken-pro.github.io/iken_webpage/">あいけんについての紹介</a>
                            </li>
                            <li>
                                <a href="https://twitter.com/ishikawa_iken">最近のNews！！</a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="">新規登録</a>
                            </li>
                            <li>
                                <a href="">サインイン</a>
                            </li>
                        </ul>

                        <header class="logo-h">
                            <img src="assets/clova_logo.png" alt="logo" style="height:50px; width:50px;">
                        </header>
                    </div>

                </div>
            </header>  -->
    </div>
</div>
