$timory-color: #594A31;
$farmily-color: #FF7E79;
$timory-dark-color:#3d382f;
$timory-white-color:#cabfab;
$mark_0: #FFFFFF;
$mark_1: #FE9E9A;
$mark_2: #f4cb37;
$mark_3: #70AD47;
$mark_4: #15A8C1;
$mark_5: #FE8401;
$mark_6: #FA1004;
$mark_7: #9A83E1;

// $mark_1: #ddbbba;
// $mark_2: #e2a6a4;
// $mark_3: #e7918e;
// $mark_4: #f68f8c;
// $mark_5: #e86c67;
// $mark_6: #fd6a65;
// $mark_7: #f84741;

#calendar {

    .calendar_mark {
        background-color: $timory-color;
        border-radius: 100%;
        width: 35px;
        height: 35px;
        border: 0.4px solid rgb(239, 229, 229);

    }

    p.mark_0 {
        background-color: transparent;
    }

    p.mark_1 {
        background-color: $mark_1;
    }


    p.mark_2 {
        background-color: $mark_2;
    }


    p.mark_3 {
        background-color: $mark_3;
    }


    p.mark_4 {
        background-color: $mark_4;
    }


    p.mark_5 {
        background-color: $mark_5;
    }


    p.mark_6 {
        background-color: $mark_6;
    }



    .user_tag {
        display: flex;
        align-items: center;
        font-size: 25px;
    }

    hr {
        color: $timory-color;
    }

    .twiit {
        margin-left: 10px;
    }

    a {
        color: $timory-color;
        text-decoration: none;
    }

    .simple-calendar {
        margin: 10px;


        a {
            color: $timory-color;
        }

        thead {
            background: $timory-color;

            td {
                color: white;
            }
        }

        .calendar-heading {
            display: flex;
            align-items: center;
        }

        .calendar-title {
            color: $timory-color;
        }

        .day {}

        .wday-0 {}

        .wday-1 {}

        .wday-2 {}

        .wday-3 {}

        .wday-4 {}

        .wday-5 {}

        .wday-6 {}

        .today {}

        .past {}

        .future {}

        .start-date {}

        .prev-month {}

        .next-month {}

        .current-month {}

        .has-events {
            background: $timory-white-color;
        }
    }


}
